# Control Structures

### Question 


A word is said to belong to the red team if it has the letter r in it.
Write an 'if' statement to check whether the given word belongs to the red team or not.

In [7]:
# write code here
a= input("input word: ")
for i in a:
    if i!= "r":
        print("not red team")
        break
    else:
        print("red team")
        break

input word: hsyn r
not red team

### Question 

In continuation to previous example, if the word has the letter 'b', it belongs to the blue team. And if the word has both 'r' and 'b' then first letter gets a precedence. And if the word does not have the letter 'r' or 'b', it does not belong to any team. 
######Example: (word,output)                
*   rabbit = red team
*   brand =  blue team
*   dog   =  no team


Write a condition for this decision.

In [13]:
# write code here 

a= input("input word: ")
for i in a:
    if i=="r":
        print("red team")
        break
    elif i=="b":
        print("blue team")
        break
    else:
        print("no team")
        break


# you might want to consider if statement inside a for loop

input word: bhre
blue team

### Question 

Write a program to print all the numbers which are divisible by 17 between 1 and a given number 'n'.

In [19]:
n=int(input())

for i in range(1,n):
    if i%17==0:
        print("divisibal by 17", i)
    else:
        print("not divisibal by 17", i)

100
not divisibal by 17 1
not divisibal by 17 2
not divisibal by 17 3
not divisibal by 17 4
not divisibal by 17 5
not divisibal by 17 6
not divisibal by 17 7
not divisibal by 17 8
not divisibal by 17 9
not divisibal by 17 10
not divisibal by 17 11
not divisibal by 17 12
not divisibal by 17 13
not divisibal by 17 14
not divisibal by 17 15
not divisibal by 17 16
divisibal by 17 17
not divisibal by 17 18
not divisibal by 17 19
not divisibal by 17 20
not divisibal by 17 21
not divisibal by 17 22
not divisibal by 17 23
not divisibal by 17 24
not divisibal by 17 25
not divisibal by 17 26
not divisibal by 17 27
not divisibal by 17 28
not divisibal by 17 29
not divisibal by 17 30
not divisibal by 17 31
not divisibal by 17 32
not divisibal by 17 33
divisibal by 17 34
not divisibal by 17 35
not divisibal by 17 36
not divisibal by 17 37
not divisibal by 17 38
not divisibal by 17 39
not divisibal by 17 40
not divisibal by 17 41
not divisibal by 17 42
not divisibal by 17 43
not divisibal by 17 44
not divisibal by 17 45
not divisibal by 17 46
not divisibal by 17 47
not divisibal by 17 48
not divisibal by 17 49
not divisibal by 17 50
divisibal by 17 51
not divisibal by 17 52
not divisibal by 17 53
not divisibal by 17 54
not divisibal by 17 55
not divisibal by 17 56
not divisibal by 17 57
not divisibal by 17 58
not divisibal by 17 59
not divisibal by 17 60
not divisibal by 17 61
not divisibal by 17 62
not divisibal by 17 63
not divisibal by 17 64
not divisibal by 17 65
not divisibal by 17 66
not divisibal by 17 67
divisibal by 17 68
not divisibal by 17 69
not divisibal by 17 70
not divisibal by 17 71
not divisibal by 17 72
not divisibal by 17 73
not divisibal by 17 74
not divisibal by 17 75
not divisibal by 17 76
not divisibal by 17 77
not divisibal by 17 78
not divisibal by 17 79
not divisibal by 17 80
not divisibal by 17 81
not divisibal by 17 82
not divisibal by 17 83
not divisibal by 17 84
divisibal by 17 85
not divisibal by 17 86
not divisibal by 17 87
not divisibal by 17 88
not divisibal by 17 89
not divisibal by 17 90
not divisibal by 17 91
not divisibal by 17 92
not divisibal by 17 93
not divisibal by 17 94
not divisibal by 17 95
not divisibal by 17 96
not divisibal by 17 97
not divisibal by 17 98
not divisibal by 17 99

### Question

Write a program to add 13 to all the elements of a given numeric list. 
######Example - 
* Input list = [1,5,27] 
* Output list = [14,18,40]

In [23]:
sample_list = [6, 98, 34, 45, 64, 7, 2, 5, 78, 90, 324, 111, 657, 438]

# Write solution code here
q=[i+13 for i in sample_list]
print(q)

[19, 111, 47, 58, 77, 20, 15, 18, 91, 103, 337, 124, 670, 451]

### Question

In continuation to the example above, execute the same operation on the same sample list using list comprihension.

[19, 111, 47, 58, 77, 20, 15, 18, 91, 103, 337, 124, 670, 451]

### Question 
This question has two tasks:
* Task 1 - Find the factors of all the numbers in a given list. 
* Task 2 - Add the numbers and their factors to a dictionary where the key will be the numbers from the list, and the values will be the factors of the respective number. 

Example - 
##### Sample output :
#####{6: [1, 2, 3, 6],
98: [1, 2, 7, 14, 49, 98],
##### 34: [1, 2, 17, 34],}

In [48]:
sample_list = [6,98, 34, 45, 64, 7, 2, 5, 78, 90, 324, 111, 657, 438]

# write code here 

for i in sample_list:
    a=[j for j in range(1,i+1)if i%j==0]
    q={i:a}
    print(q)

{6: [1, 2, 3, 6]}
{98: [1, 2, 7, 14, 49, 98]}
{34: [1, 2, 17, 34]}
{45: [1, 3, 5, 9, 15, 45]}
{64: [1, 2, 4, 8, 16, 32, 64]}
{7: [1, 7]}
{2: [1, 2]}
{5: [1, 5]}
{78: [1, 2, 3, 6, 13, 26, 39, 78]}
{90: [1, 2, 3, 5, 6, 9, 10, 15, 18, 30, 45, 90]}
{324: [1, 2, 3, 4, 6, 9, 12, 18, 27, 36, 54, 81, 108, 162, 324]}
{111: [1, 3, 37, 111]}
{657: [1, 3, 9, 73, 219, 657]}
{438: [1, 2, 3, 6, 73, 146, 219, 438]}

### Question 

Count the total number of unique characters in a given sentence. 
#####Example - 
* Input - 'total'
* Output  - 'o', 'a', 'l'

In [52]:
sample_sentence = "Pack my box with five dozen liquor jugs"
 
# write code here 
q={i for i in sample_sentence if i in "abcdefghijklmnopqrstuvwxyz"}
print(q)
print(len(q))

{'l', 's', 'w', 'y', 'z', 'v', 'r', 'g', 'a', 'o', 'd', 'k', 'f', 'q', 'i', 'h', 'b', 'x', 'm', 't', 'u', 'n', 'c', 'e', 'j'}
25

### Question 

Write a calculator application using functions, which will ask for the users input such as - arithmetic operation, number1, number 2, and return the output post applying the arithmetic operator

#####Example - 


```
def calc(operation, x,y):
    if operation == "add":
        return x+y
```

In [57]:
# use functions to write this code
def calc(operation, x,y):
    if operation == "add":
        return x+y
    if operation == "sub":
        return x-y
    if operation == "mul":
        return x*y
    if operation == "div":
        return x/y
    if operation == "mod":
        return x%y
    
calc("mod", 10,20)

10

### Question 

Write a code to ask the user to input three numbers and then print the largest one among the three.

In [65]:
# You might want to use nested if statements 
a=int(input())
b=int(input())
c=int(input())

if a>b & a>c:
    print("greater", a)
elif b>c:
    print("greater", b)
else:
    print("greater", c)

7
6
9
greater 9

### Question

Check whether a number is perfect or not. 

A perfect number is a number that is sum of all of its positive divisors (excluding itself).
For more info refer to this link - https://www.geeksforgeeks.org/perfect-number/

In [102]:
a=int(input())
b=0
for i in range(1,a):
    if a%i==0:
        b+=i
if b==a:
    print("perfect number", b)
else:
    print("not a perfect number")

496
perfect number 496

### Question 

Add the elements in the two given lists using map and lambda functions

In [68]:
list1 = ['Ankur','Avik','Kiran','Nitin']
list2 = ['Narang','Sarkar','R','Sareen']

# write code here 
a=list(map(lambda x,y:x+" " +y,list1,list2))
print(a)

['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

### Question 

Write a code to find the factorial of a number using reduce function. 
#####Example -
 5!= 5 * 4 * 3 * 2 * 1=120.

In [108]:
a=int(input())
b=1
for i in range(1,a+1):
        b*=i
print(b)

6
720